.Coin{
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.054) 0%, rgba(255, 255, 255, 0.1) 0.01%, rgba(255, 255, 255, 0) 100%);
   border: 1.5px solid;
   border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0) 100%) 30 / 1 / 0 stretch;;   
   
}
.Coin:hover{
   background: linear-gradient(180deg, rgba(0, 193, 255, 0.1) 0%, rgba(0, 193, 255, 0) 100%);
   border: 1.5px solid;
   border-image: linear-gradient(180deg, #00A3FF 0%, rgba(0, 71, 255, 0) 100%) 30 / 1 / 0 stretch;;
}
.Coin-static{
   background: linear-gradient(180deg, rgba(0, 193, 255, 0.1) 0%, rgba(0, 193, 255, 0.1) 100%);
   border: 1.5px solid;
   border-image: linear-gradient(180deg, #00A3FF 0%, #0047FF 100%) 30 / 1 / 0 stretch;   
}

.Submit{
   position: relative;
   display:inline-block;
   background: linear-gradient(180deg, #181343 0%, #0047FF 100%);   
   padding:0 20px;
   line-height:30px;
   color: #485564;
   border-radius: 33px;
   z-index:0;
}
.Submit::before {
   content: '';
   position: absolute;
   /* specify the value of border width here */
   top: 2px;
   right: 2px;
   bottom: 2px;
   left: 2px;
   /* --- */
   background: #181344;
   border-radius: 33px;
   box-sizing: border-box;
   z-index: -1;
}
.Submit:hover{
   position: relative;
   display:inline-block;
   padding:0 20px;
   line-height:30px;
   background: linear-gradient(180deg, #00A3FF 0%, rgba(0, 71, 255, 0) 100%);   
   border-radius: 33px;
   z-index:0;
}
.Submit::hover::before{
   content: '';
   position: absolute;
   /* specify the value of border width here */
   top: 2px;
   right: 2px;
   bottom: 2px;
   left: 2px;
   /* --- */
   background: #181344;

   border-radius: 33px;
   box-sizing: border-box;
   z-index: -1;
}
.Submit-static{
   background: linear-gradient(180deg, #00A3FF 0%, #0047FF 100%) !important;
   border-radius:33px;
   border: none;
   /* border-image: none; */
}

.Choice{
   position: relative !important;
   display:inline-block !important;;
   background: linear-gradient(180deg, #181343 0%, #0047FF 100%) !important;;   
   padding:0 20px !important;;
   line-height:30px !important;;
   border-radius: 33px !important;;
   z-index:0 !important;;
}
.Choice::before {
   content: '';
   position: absolute !important;;
   /* specify the value of border width here */
   top: 2px;
   right: 2px;
   bottom: 2px;
   left: 2px;
   /* --- */
   background: #181344 !important;;
   border-radius: 33px !important;;
   box-sizing: border-box !important;;
   z-index: -1 !important;;
}
.Choice:hover{
   position: relative !important;
   display:inline-block !important;
   padding:0 20px !important;
   line-height:30px !important;
   background: linear-gradient(180deg, #221464 0%, #190138 100%) !important; 
   border-radius: 10px !important;
   z-index:0  !important;
}
.Choice::hover::before{
   content: '';
   position: absolute !important;
   /* specify the value of border width here */
   top: 2px;
   right: 2px;
   bottom: 2px;
   left: 2px;
   /* --- */border: 1.5px solid;


   background: linear-gradient(180deg, #00A3FF 0%, rgba(0, 71, 255, 0) 100%) !important;
   border-radius: 10px !important;
   box-sizing: border-box !important;
   z-index: -1 !important;
}
.Choice-static{
   position: relative !important;
   display:inline-block !important;
   padding:0 20px !important;
   line-height:50px !important;
   text-align: center !important;
   background:rgba(255, 255, 255, 0.05) !important;
   
   border-radius: 10px !important;
   z-index:0 !important;
}
.Choice-static::before{
   content: '';
   position: absolute !important;
   /* specify the value of border width here */
   top: 2px;
   right: 2px;
   bottom: 2px;
   left: 2px;
   /* --- */
   background: linear-gradient(180deg, rgba(0, 193, 255, 0.1) 0%, rgba(0, 193, 255, 0.1) 100%) !important;
   border-radius: 10px !important;
   box-sizing: border-box !important;
   z-index: -1 !important;
}